

<input type="search" class="form-control form-control-md" value="@ViewBag.searchInput" name="searchInput" placeholder="Track Number/Status">
<div class="input-group-append">
    <button type="submit" class="btn btn-lg btn-default" id="searchButton">
        <i class="fa fa-search"></i>
    </button>
</div>